.wrapper {
  border-top: 1px solid rgba(232, 234, 244, 0.75);
}

.label {
  font-size: 1.4rem;
  font-weight: 700;
  padding: 8px;
}

.account-Item {
  display: flex;
  padding: 8px;
  cursor: pointer;
}

.avatar {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.item-infor {
  flex: 1;
  margin-left: 12px;
}
.nickname {
  margin-top: 0px;
  line-height: 1;
  font-size: 1.6rem;
  color: #161823;
}

.check {
  margin-left: 4px;
  font-size: 1.4rem;
  color: #20d5ec;
}

.name {
  font-size: 1.2rem;
  opacity: #161823bf;
}

.more {
  font-size: 1.4rem;
  color: #fe2c55;
  font-weight: 600;
  padding: 8px;
  cursor: pointer;
}
